*
{
	margin: 0px;
	padding: 0px;
	font-family: 'Poppins', sans-serif;
	text-decoration: none;
}

body{
	overflow-x: hidden;
	min-height: 100vh;
}

nav{
	display: flex;
	justify-content: space-around;
	background: rgba( 163, 228, 215 );
	align-items: center;
	position: fixed;
	width: 100%;
	height: 80px;
}

.navbar{
	transform: translate3d(0, 100%, 0);
	transition: top 0.3s;
}

nav .right-side{
	display: flex;
}

nav .right-side .nav-link-wrapper a{
	position: relative;
	color: #000;
	font-size: 20px;
	font-weight: 500;
	padding: 20px 30px;
	text-decoration: none;
	display: inline-block;
}

nav .right-side .nav-link-wrapper a:before{
	content: '';
	position: absolute;
	bottom: 15px;
	left: 0;
	height: 3px;
	width: 0%;
	background: linear-gradient(to right, #0033cc 0%, #3399ff 100%);
	border-radius: 12px;
	transition: all 0.4s ease;
}

nav .right-side .nav-link-wrapper a:hover:before{
	width: 100%;
}

/*darkmode text*/
/*.darkmode{
	color: #000;
	position: absolute;
	right: 80px;
	top: 50px;
}

.darkmode:before{
	content: '';
	position: absolute;
	top: 20px;
	left: 0;
	height: 3px;
	width: 0%;
	background: linear-gradient(to right, #0033cc 0%, #3399ff 100%);
	border-radius: 12px;
	transition: all 0.4s ease;
}

.darkmode:hover:before{
	width: 100%;
}*/

/*darkmodetoggle*/
input[type='checkbox']
{
	-webkit-appearance: none;
	visibility: hidden;
	display: none;
	align-items: center;
}
label.checked{
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: right;
	align-items: center;
	min-height: 80px;
}

.check{
	position: relative;
	display: block;
	width: 40px;
	height: 20px;
	background: linear-gradient(to right, #0033cc 0%, #3399ff 100%);
	cursor: pointer;
	border-radius: 20px;
	overflow: hidden;
	transition: ease-in 0.5s;
}

.check:before{
	content: '';
	position: absolute;
	top: 2px;
	left: 2px;
	background: #000;
	width: 16px;
	height: 16px;
	border-radius: 50%;
	transition: 0.5s;
}

input[type='checkbox']:checked ~ .check:before{
	transform: translateX(-50px);
}

.check:after{
	content: '';
	position: absolute;
	top: 2px;
	right: 2px;
	background: #fff;
	width: 16px;
	height: 16px;
	border-radius: 50%;
	transition: 0.5s;
	transform: translateX(50px);
}

input[type='checkbox']:checked ~ .check:after{
	transform: translateX(0px);
}

/*darkmode*/
.dark{
	background: #011528;
	color: white;
}

/*bagian home*/
.font-normal {
	font-weight: 300;
}

.container-home{
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 95px 0px 25px 0px;
}

.container-home img{
	border-radius: 50%;
	height: 250px;
	width: 250px;
}

.container-home h1{
	font-size: 40px;
	margin-top: 10px;
}

.container-home p{
	font-size: 18px;
	font-family: sans-serif;
}

/*bagian about*/
.container-about{
	padding: 25px 0px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

hr.split{
	width: 100px;
	height: 2px;
	background: black;
	margin: 10px 0px;
}

.container-about .text{
	display: flex;
	justify-content: space-around;
	text-align: center;
	margin: 20px 0px;
}

.container-about .text p{
	width: 500px;
	margin: 0px 40px;
	font-size: 20px;
	font-family: sans-serif;
}

/*bagian article*/
.container-article{
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 25px 0px;
}

.container-article .cards{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

.container-article .card{
	width: 350px;
	margin: 20px 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
	background: rgba( 163, 228, 215 );
	padding: 0px 0px 5px 0px;
}

.container-article .card img{
	width: 100%;
}

.container-article .card p{
	color: black;
	font-size: 18px;
	padding: 10px;
	font-family: sans-serif;
}

/*bagian contact*/
.container-contact{
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 25px 0px;
}

.container-contact form{
	width: 800px;
	display: flex;
	flex-direction: column;
}

.container-contact form label{
	margin-top: 10px;
}

.container-contact form input{
	width: 100%;
	padding: 5px 10px;
}

.container-contact form textarea{
	width: 100%;
	padding: 5px 10px;
}

.container-contact form button{
	width: 70px;
	background: #0957A5;
	color: white;
	padding: 5px;
	border-radius: 5px;
	border: none;
	cursor: pointer;
	margin-top: 10px;
}

/*footer*/

footer{
	position: auto;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(219, 237, 254);
	height: auto;
	width: 100vw;
	font-family: "Open Sans";
	padding-top: 40px;
	color: #fff;
}
.footer-content{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	text-align: center;
}
.footer-content h3{
	font-size: 1.125rem;
	line-height: 1.75rem;
	font-weight: 700;
	color: #000;
}
.socials{
	list-style: none;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 1rem 0 3rem 0;
}
.socials li{
	margin: 0 10px;
}
.socials a{
	text-decoration: none;
	color: #000;
}
.socials a i{
	transition: color .4s ease;

}
.socials a:hover i{
	color: #0033cc;
}

.footer-bottom{
	background: #000;
	width: 100vw;
	padding: 20px 0;
	text-align: center;
}
.footer-bottom p{
	font-size: 14px;
	word-spacing: 2px;
	text-transform: capitalize;
}
/*.footer-bottom span{
	text-transform: uppercase;
	opacity: .4;
	font-weight: 200;
}
*/
body > input{
	visibility: hidden;
	position: fixed;
}

/*Responsive*/
@media (max-width: 1200px){
	.container-about .text{
		flex-direction: column;
		margin: 0px;
	}
	.container-about .text p{
		width: 900px;
		margin: 10px 0px;
	}
	.container-article .card{
		width: 450px;
		margin: 20px 0px;
	}
}

@media (max-width: 992px){
	nav.right-side .nav-link-wrapper a{
		padding: 20px 15px;
	}
	.container-about .text p{
		width: 700px;
	}
	.container-article .cards{
		flex-direction: column;
	}
	.container-article .card{
		width: 750px;
	}
	.container-contact form{
		width: 600px;
	}
}

@media (max-width: 768px){
	nav .right-side{
		display: none;
	}
	nav .hamburger, nav .cross{
		display: block;
		padding: 17px 0px;
		cursor: pointer;
	}
	nav .hamburger span{
		display: block;
		width: 25px;
		height: 3px;
		background: linear-gradient(to right, #0033cc 0%, #3399ff 100%);
		margin: 6px;
	}
	nav .cross span:nth-child(1){
		display: block;
		width: 30px;
		height: 4px;
		transform-origin: 0 0;
		transform: rotate(45deg);
		margin-top: -2px;
		background: linear-gradient(to right, #0033cc 0%, #3399ff 100%);
	}
	nav .cross span:nth-child(2){
		display: block;
		width: 30px;
		height: 4px;
		transform-origin: 0 100%;
		transform: rotate(-45deg);
		margin-top: 17px;
		background: linear-gradient(to right, #0033cc 0%, #3399ff 100%);
	}
	input#open:checked ~ nav .hamburger{
		display: none;
	}
	input#close:checked ~ nav .cross{
		display: none;
	}
	input#open:checked ~ nav .right-side{
		display: flex;
		position: fixed;
		top: 0;
		/*top: 57.2px;*/
		bottom: 0;
		left: 0;
		right: 0;
		background: rgba(0, 0, 0, 0.5);
		backdrop-filter: blur(8px);
		flex-direction: column;
		justify-content: center;
		align-items: center;
		flex-wrap: wrap;
	}
	.container-about .text{
		align-items: center;
	}
	.container-about .text p{
		width: 94%;
	}
	.container-article .card{
		width: 94%;
		margin: 20px auto;
	}
	.container-contact form{
		width: 98%;
	}
	.container-contact form input, .container-contact form textarea{
		box-sizing: border-box;
	}
}

@media (max-width: 576px){
	.container-home img{
		height: 203px;
		width: 220px;
	}
	.container-home h1{
		width: 95%;
		text-align: center;
		font-size: 18px;
	}
	hr.split{
		width: 200px;
	}
}

/*bagian scroll bar*/
::-webkit-scrollbar
{
	width: 12px;
}

::-webkit-scrollbar-thumb
{
	background: linear-gradient(transparent, #0033cc 0%, #3399ff 100%);
	border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover
{
	background: linear-gradient(transparent, #EC7063 0%, #8E44AD 100%);
}

/*article1*/
article{
	margin: 30%;
}
.body-article1{
	margin: 2px;
	padding: 8vw;
}
.body-article1 h1{
	margin-top: 10vh;
	padding: 0;
	color: #0033cc;
}
.body-article1 h3{
	font-size: 24px;
	margin: 20px;
	padding: 0;
	color: #0033cc;
}
.body-article1 h4{
	font-size: 18px;
	margin: 20px;
	padding: 0;
	color: #0033cc;
}
.body-article1 p{
	text-align: justify;
	margin: 20px;
	padding: 0;
	font-size: 17px;
	font-family: sans-serif;
}
.body-article1 ul li{
	text-align: justify;
	margin: 20px;
	padding: 0;
	font-size: 17px;
	font-family: sans-serif;
}
.img-code img{
	position: relative;
	left: 20px;
}

.responsive{
	max-width: 100%;
	height: auto;
	left: 10px;
}